@import url("https://fonts.googleapis.com/css2?family=Mystery+Quest&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
    padding: 0;
    margin: 0;
    font-family: 'Mystery Quest', 'Inter';
}

body {
    width: 100%;
    background: white;
    /*background: linear-gradient(68deg, #7163CA 43%, #383164 86%);*/
    
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

nav {
    background: linear-gradient(68deg, #7163CA 43%, #383164 86%);
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.8vw;
    font-weight: 700;
    padding: 0.9vw 6.5vw;
    border-bottom: 0.3px solid white;
}

.h2{
   font-weight: lighter;
}

.content {

    width: 100%;
    background-color:transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.main-content {
    background: linear-gradient(68deg, #7163CA 43%, #383164 86%);
    height: 33vw;
    width: 90%;
    border-radius: 24px;
    display: flex;
    animation: slide-in 1s ease-in-out;
    margin-top: 5vw;
 }

@keyframes slide-in {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

.main-content button {
    cursor: pointer;
    padding: 1.3vw 2.3vw;
    margin-left: 5vw;
    border-radius: 5px;
    color: #5F55A2;
    font-family: 'Inter';
    font-weight: bold;
    border: 1px;
    background-color: white;
    font-size: 2vw;
    transition: background-color 0.3s ease-in-out;
}

button:hover{
    color:#242041
}


nav button:hover{
    background-color: none;
}

.main-content h2 {
    width: 33vw;
    font-size: 2.567vw;
    font-family: 'Inter';
    font-weight: lighter;
    padding: 6vw 5vw;
    color: white;
}
.ham i:hover{
    color: #242041;
}

.main-content h2 span {
    color: #383164;
    font-size: 40px;
    font-weight:lighter;
}

.image-container {
    display: flex;
    justify-content: flex-end;
}

.image-container img {
    width: 100%;
}


.logo {
    height: 6vw;
}

.titlelogo{
    display: flex;
   justify-content:center;
    align-items:center;
    

}

.image-container img {
    width: 100%;
    padding: 2vw 15vw;
    border-radius: 15px
}

.menu-icon{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap:40px;
}

#sitetitle{
    letter-spacing: 3px;
    font-weight: 100;
    font-size: 40px;
    margin-left: -15px;

}
nav i {
    display: none;
    color: white;
    font-weight: 700;
}
i:hover{
    background:none !important;
}

.about {
    height: 28vw;
    width: 90%;
    background:linear-gradient(68deg, #7163CA 43%, #383164 86%);
    display: flex;
    align-items: center;
    border-radius: 24px;
    animation: slide-in 1s ease-in-out;
    margin-top: 5vw;
}

.about img{
height: 26.5vw;

}
.about h2 {
    width: 33vw;
    font-family: 'Inter';
    font-size: 2.567vw;
    padding: 2vw 5vw;
    color: white;
}

.about p {
    width: 40vw;
    font-family: 'Inter';
    font-size: 1.2vw;
    padding: 1vw 5vw;
    color: white;
}


.features {
    height: 15vw;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(68deg, #7163CA 43%, #383164 86%);
    border-radius: 24px;
    animation: slide-in 1s ease-in-out;
    margin-top: 5vw;
  

}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    text-align: center;
    
}

.feature h3 {
    font-size: 2vw;
    color: white;
    font-family: sans-serif; 
}

.feature p {
    font-size: 0.9vw;
    color: white;
    font-family: sans-serif;
    font-weight:lighter;
    line-height: 2;
    max-width: 70%;
}
.hamburger {
   border: none;
    cursor: pointer;

    padding: 10px;
    
    margin-right: 10px; /* Adjust margin as needed */
}

.hamburger i {
    font-size: 40px;
    color: white; /* Adjust color as needed */
}


.ham{
    background: transparent;
    border:none;
    font-size: 30px;
}


@media (max-width: 550px) {
    nav {
        height:60px;
        font-size: 3vw;
    }
    .logo{
        height: 40px;
    }
    nav button{
        padding: 1.3vw 2vw;
        font-size: 10px;
    }
    nav .logo{
        display: none;
    }

    .navlinks {
        display: none;
    }

    .hamburger{
        display: block;
    }
    nav i {
        display: block;
        font-size: 22px;
    }
    .content{
        height: 100vh;
        
        background: transparent;
        display: flex;
        justify-content: space-evenly;
        

    }

    .main-content
    { background-color: black;
        background-size: 98vw;
        height: 60vw;
        width: 95%;
        padding: 0.5vw 2vw;
        box-shadow: 0px 63px 71px -43px #0759f0;
    }
    .main-content h2 {
        width: 47vw;
        font-size: 4vw;
        padding: 4vw 5vw;
        color: white;
    }
    .main-content button{
        font-size: 3vw;
        background-color: #004cff;

    }
 
    .about h2{
        font-size: 4vw;
        width: 80%;

    }
    .about p{
        font-size: 7.7px;
        border-radius: 5px;
        
    }
    .about img{
        display: none;
    }
    
    .features{
        padding: 4vw 4vw;
        height:50vw;
        width: 90vw;

    }

    .feature h3 {
        width: 30vw;
        font-size: 5vw;
        color: white;
        margin-bottom: 10px;
    }
    
    .feature p {
        font-size: 8px;
        color: white;
        font-weight:lighter;
        line-height:1.8;
        max-width: 90%;
    }
}
footer{
    height: 2vw;
    visibility: hidden;
}